{% if pillar['ssh']['client']['add_keys_to_agent'] %}AddKeysToAgent yes{% endif %}

{% for host in pillar.get('ssh:client:hosts', {}) %}
Host {{ host }}
{% if host.hostname is defined %}  Hostname host.hostname {% endif %}
{% if host.proxycommand is defined %}  ProxyCommand host.proxycommand {% endif %}
{% if host.user is defined %}  User host.user {% endif %}
{% if host.identityfile is defined %}  IdentityFile host.identityfile {% endif %}
{% endfor %}
