[Desktop Entry]
Type=Application
Name=Sony Headphone Client
GenericName=Sony Headphone Client
Comment=PC alternative for the mobile-only Sony Headphones app
Exec=/usr/local/bin/sony-headphone-client/SonyHeadphonesClient
Icon=/usr/share/icons/Adwaita/512x512/devices/audio-headphones.png
Terminal=false
StartupNotify=false
Categories=Application
