general {
    output_format   = "i3bar"
    interval        = 1
    colors          = true
    color_good      = '#4fa360'
    color_degraded  = '#e7ff91'
    color_bad       = '#e25a5a'
}

order += "ethernet tailscale0"
order += "ethernet Citrix_VA"
{%- for interface in grains['ip4_interfaces'].keys() %}
{%- if interface.startswith('en') %}
order += "ethernet {{ interface }}"
{%- elif interface.startswith('wl') %}
order += "wireless {{ interface }}"
{%- endif %}
{%- endfor %}
order += "tztime local"

{%- for interface in grains['ip4_interfaces'].keys() %}
{%- if interface.startswith('en') %}
ethernet {{ interface }} {
    format_up = "🖧"
    format_down = ""
}
{%- elif interface.startswith('wl') %}
wireless {{ interface }} {
    format_up = ""
    format_down = ""
}
{%- endif %}
{%- endfor %}

ethernet Citrix_VA {
    format_up = ""
    format_down = ""
}

ethernet tailscale0 {
    format_up = ""
    format_down = ""
}

tztime local {
    format = "%V  %d/%m/%Y   %H:%M:%S"
    min_width = 210
}
