{% set role_map = salt['grains.filter_by']({
    'work': {
      'kubernetes': {
        'packages': ['kubernetes-client']
      }
    }
  },
  grain="roles",
  default={
    'kubernetes': {
      'packages': ['kubectl', 'kubectx']
    }
  })
%}
