{% set kubernetes_client = salt['grains.filter_by']({
    'work': {
      'packages': ['kubernetes-client']
    },
    'default': {
      'packages': ['kubectl', 'kubectx']
    }
  },
  grain="roles",
  default='default')
%}
