[Desktop Entry]
Type=Application
Name=Cura
GenericName=Ultimaker Cura
Comment=Open source 3D printer slicing application
Exec=/opt/cura/Ultimaker_Cura.AppImage %F
Icon=/var/lib/app-info/icons/debian-bullseye-main/64x64/cura_cura-icon.png
Terminal=false
StartupNotify=false
Categories=Application
