[Desktop Entry]
Type=Application
Name=Cura
GenericName=Ultimaker Cura
Comment=Open source 3D printer slicing application
Exec=/opt/cura/Ultimaker_Cura.AppImage
Terminal=false
StartupNotify=false
Categories=Application
