[global_config]
  enabled_plugins = LaunchpadCodeURLHandler, APTURLHandler, LaunchpadBugURLHandler
  title_transmit_bg_color = "#1a8400"
  window_state = maximise
[keybindings]
[layouts]
  [[default]]
    [[[child1]]]
      parent = window0
      type = Terminal
    [[[window0]]]
      parent = ""
      type = Window
[plugins]
[profiles]
  [[default]]
    background_color = "#1d1f21"
    background_darkness = 0.8
    background_type = transparent
    cursor_color = "#aaaaaa"
    font = Hack 9
    foreground_color = "#c5c8c6"
    palette = "#073642:#dc322f:#53d13f:#b58900:#268bd2:#a40000:#2aa198:#eee8d5:#002b36:#f57900:#586e75:#657b83:#839496:#6c71c4:#93a1a1:#fdf6e3"
    scrollback_infinite = True
    scrollback_lines = 5000000
    use_system_font = False
