[global_config]
  window_state = maximise
  enabled_plugins = TerminalShot
[keybindings]
[profiles]
  [[default]]
    background_color = "#1d1f21"
    background_darkness = 1.0
    font = Inconsolata Medium 10
    foreground_color = "#c5c8c6"
    scrollback_lines = 5000000
    scrollback_infinite = True
    palette = "#002b36:#dc322f:#859900:#b58900:#268bd2:#6c71c4:#2aa198:#93a1a1:#657b83:#dc322f:#859900:#b58900:#268bd2:#6c71c4:#2aa198:#fdf6e3"
    title_transmit_bg_color = "#26a269"
[layouts]
  [[default]]
    [[[child1]]]
      parent = window0
      type = Terminal
    [[[window0]]]
      parent = ""
      type = Window
[plugins]
