fileserver_backend:
  - git

file_ignore_regex:
  - ^\.git

file_ignore_glob:
  - '\*.md'

gitfs_remotes:
  - https://github.com/ralex/salt-base.git
  {%- for salt_gitfs_remotes in salt['pillar.get']('salt:gitfs_remotes') %}
  - {{ salt_gitfs_remotes }}
  {%- endfor %}

ext_pillar:
  - master git@git.ralex.fr:salt/pillar.git
  {%- for salt_ext_pillar in salt['pillar.get']('salt:ext_pillar') %}
  - {{ salt_ext_pillar }}
  {%- endfor %}

log_level: error
